.cubo, .cara{
    
        width: 150px;
        height: 150px;
        margin: 170px auto;
}

.cara{
    position: absolute;
}

.cubo{
    
    transform: perspective(700px) rotateX(-30deg) rotateY(-30deg);
   /*  Esto asegura que los elementos hijos mantengan 
    su posición tridimensional dentro del cubo. */
    transform-style: preserve-3d; 
}



#derecha{
    transform: rotateY(90deg) translate(100px);
}

#superior{
    background-color: aquamarine;
    transform: rotateX(90deg) translateZ(100px);
} 

#frente{
    background-color: orange;
    transform: translateZ(100px);
}

#atras{
    background-color: rgb(0, 255, 106);
    transform: translateZ(-100px);

}

#derecha{
    background-color: rgb(204, 0, 255);
    transform: rotateY(90deg) translateZ(100px);
}

#izquierda{
    background-color: rgb(255, 0, 0);
    transform: rotateY(-90deg) translateZ(100px);
}

#inferior{
    background-color: rgb(255, 127, 244);
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotar{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cubo{
    animation: rotar 6s infinite linear;
}

